html,body{
	width:100%;
	margin:0;
}
/*header*/
header{
	position: fixed;
	width:100%;
	margin:0;
	margin-top: -17px;
	z-index: 1000;
}
header .main_menu{
	height: 60px;
	background-color:#6B8E23;
}
header .main_menu>li{
	padding-top:20px;
	display: inline-block;
}
header .main_menu>li:first-child{
	margin-left:25%;
}
header .main_menu>li a{
	padding: 23px 80px;
	text-decoration: none;
	color: #fff;

}
.active{
	background-color: #556B2F;
}
header .main_menu>li a:hover{
	background-color: #F0E68C;
	color: black;
}
/*footer*/
footer{
	position: fixed;
	height:40px;
	width:100%;
	bottom: 0;
	background-color: #696969;
	color: #F5F5F5;
	text-align: center;
	padding-top: 1.5%;
	z-index: 1000;
}
/*content*/
.content{
	position: absolute;
	width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-top: 59px;
	margin-bottom: 40px;
}
.caption_main{
	margin-left: 43%;
}
.photo_1{
	margin-left: 4.5%;
}
.photo_2{
	margin-left: 32%;
}
.photo_1,.photo_2{
	margin-top: 3%;
}

table{
	border:1px solid black;
	margin:3% auto;
}
td{
	width: 200px;
	text-align:center;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.tr td{
	border-bottom: none;
}
td:last-child{
	border-right: none;
}
.content .infa{
	text-align: center;
}